* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid #282c34;
  padding: 30px;
  max-width: 800px;
}

.video-container {
}

.video-wrapper {
  width: 300px;
  height: 200px;
  position: relative;
  margin: 5px;
}

.video {
  width: 300px;
  height: 200px;
  background: #fff;
  transition: all 0.3s ease-in-out;
}

.video_full {
  width: 100vw;
  height: 100vh;
  position: absolute;
  padding: 60px 0;
}

.btn-close {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 20;
  transition: all 0.3s ease-in;
  transition-delay: 0.5s;
  opacity: 0;
}

.controls {
  display: flex;
  flex-direction: row;
  position: fixed;
  opacity: 0;
  z-index: 20;
  bottom: 10px;
  transition: all 0.3s ease-in;
  transition-delay: 0.5s;
  width: 50px;
  justify-content: center;
}

.control {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 30px;
}

.input-horizontal {
  writing-mode: horizontal-tb;
  -webkit-appearance: sliderthumb-horizontal;
}

.control-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  opacity: 0.65;
}

.diagram {
  display: flex;
  height: 21px;
  width: 100px;
  border: 1px solid #292b34;
}

.diagram-level {
  background: #2fac00;
  min-width: 1px;
  height: calc(inherit - 2px);
  margin-right: auto;
}
